html,body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato" , sans-serif;
    line-height: 1.8em;
    color: #5e5a5a;
}

.pimg1{
    background-image: url(img2.jpg);
    min-height: 100%;
}

.pimg2{
    background-image: url(img1.jpg);
    min-height: 400px;
}

.pimg3{
    background-image: url(img3.jpg);
    min-height: 400px;
}
 

.ptext{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color: rgb(247, 247, 247);
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;

}

.textbg {
    background-color: #313534;
    color:white;
    padding: 20px;
}



.pimg1,.pimg2 ,.pimg3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section{
    padding:50px 100px;
    align-items: center;
}

.section-light{
    background-color: #f7fbff;
    color:#666;
} 

.section-dark{
    background-color: #282e34;
  color: #ddd;
}


